/* 
    Created on : 18 ene. 2022, 9:42:08
    Author     : daw2
*/

#vCambiarPassword{
    
}

#vCambiarPassword fieldset.main{
    display: flex;
    flex-flow: column;
    border: none;
}

#vCambiarPassword fieldset.main > div.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#vCambiarPassword fieldset.main input{
    padding: 10px;
    background-color: mistyrose;
    border: none;
    border-bottom: 2px solid firebrick;
    margin-bottom: 5px;
    width: 150px;
}