/* 
    Created on : 17 ene. 2022, 10:46:19
    Author     : daw2
*/

#vMiCuenta{
    text-align: center;
    margin: 0;
}
#vMiCuenta fieldset.main{
    max-width: 650px;
    margin: auto;
    border: none;
    display: grid;
    gap: 20px 0;
}

@media (min-width: 400px){
    #vMiCuenta fieldset.main{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px){
    #vMiCuenta fieldset.main{
        grid-template-columns: 1fr;
    }
}

/* Todos los input */
#vMiCuenta fieldset.main div.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#vMiCuenta fieldset.main input{
    padding: 10px;
    background-color: lavender;
    border: none;
    border-bottom: 2px solid midnightblue;
    margin-bottom: 5px;
    width: 250px;

    text-align: center;
}
#vMiCuenta fieldset.main input:disabled{
    color: midnightblue;
}
#vMiCuenta fieldset.main input:enabled{
    background-color: mistyrose;
    border-bottom: 2px solid firebrick;
    text-align: left;
}

/* Input password */
#vMiCuenta div.input.password{
    display: flex;
    justify-content: center;
    align-items: center;
}
#vMiCuenta div.input.password button{
    border: none;
    border-radius: 5px;
    background-color: mistyrose;
    color: firebrick;
    cursor: pointer;
    padding: 5px 10px;
    box-shadow:
        inset 3px 2px 2px lavender,
        inset -3px -2px 2px firebrick;
    font-size: medium;
}
#vMiCuenta div.input.password button:hover{
    box-shadow:
        inset -3px -2px 2px lavender,
        inset 3px 2px 2px firebrick;
}

/* Input imagen */
#vMiCuenta div.input.imagen{    
    grid-column: 1/-1;
}
#vMiCuenta div.img > div{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   
}
#vMiCuenta div.img > div > *{
    width: auto;
}

#vMiCuenta input[type="checkbox"]{
    margin: 5px;
}
#vMiCuenta input[type="checkbox"] + label{
    font-size: small;
}
#vMiCuenta div.input.imagen input[type="file"]{    
    width: 75%;
}

#vMiCuenta fieldset.eliminar{
    border: none;
    background-color: mistyrose;
}

#vMiCuenta div.imagen img{
    max-width: 300px;
}