/* 
    Created on : 04 ene. 2022
    Author     : Sasha
*/

#vHeaderRegistro{
    display: flex;
    flex-flow: column;
}
#vHeaderRegistro > *{
    display: block;
}

#vRegistro form{
    
}

#vRegistro form ul{
    list-style: none;
    padding: 0;
}

#vRegistro fieldset:first-of-type{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    max-width: 150px;
    margin: auto;
    display: flex;
    flex-flow: column;
    gap: 10px;
    text-align: center;
}

#vRegistro fieldset:first-of-type input{
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
}

#vRegistro div.error{
    text-align: justify;
    font-size: small;
    color: red;
}